
a,a:link,a:hover,a:active,a:visited {
	text-decoration: none;
	color:inherit;
}
	

button {
	cursor: pointer;
	&,&:active,&:focus,&:visited {
		
		outline: none;
		border: none;
	}
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}