@mixin rem($number) {
	font-size: #{$number*10}px; // IE fallback
	font-size: #{$number}rem;
	
}


@mixin inline-nav($padding: 0.5em 1em, $direction: right) {	
	
	@include clearfix();
	ul {
		white-space: nowrap;
		float: $direction;  
		li {
			display: inline-block;
			> * {					
				padding: $padding;
			}
			a {
				display: block;
			}
		} 
	}
}

